/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-group {
    margin-top: 10px
}

/* My - Style */
#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow: 4px 4px 8px #ddc1a0, -4px -4px 8px #f7e5cc;
}

#neubar .dropdown-menu a:hover {
    color: #000;
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

#neubar .dropdown-menu {
    background-color: #f7e5cc
}

a.navbar-brand {
    color: #454545
}
/* End - My Style */

@-webkit-keyframes my {
    0% {
        color: #32CD32;
    }

    50% {
        color: #6c757d;
    }

    100% {
        color: #32CD32;
    }
}

@-moz-keyframes my {
    0% {
        color: #32CD32;
    }

    50% {
        color: #6c757d;
    }

    100% {
        color: #32CD32;
    }
}

@-o-keyframes my {
    0% {
        color: #32CD32;
    }

    50% {
        color: #6c757d;
    }

    100% {
        color: #32CD32;
    }
}

@keyframes my {
    0% {
        color: #32CD32;
    }

    50% {
        color: #6c757d;
    }

    100% {
        color: #32CD32;
    }
}

.nhap-nhay {
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}

/* Chỉnh ảnh */
.book-img {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.book-details {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transform: perspective(900px) rotateY(-10deg);
}

/* Autocomplete */
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ccc;
    font-size: 14px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    margin-top: 0;
    margin-left: 0;
    width: auto !important;
}

.ui-menu-item {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
}

    .ui-menu-item:hover {
        background-color: #f0f0f0;
    }

.ui-state-active,
.ui-state-focus {
    color: #000;
    outline: none;
}

.ui-helper-hidden-accessible {
    display: none;
}