
@{
    ViewBag.Title = "NotificationRegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chúc mừng bạn đã đăng ký tài khoản thành công</h2>
<a class="link-success" href="@Url.Action("Login", "Account")">Đăng nhập</a>

