@model WebsiteDocTruyen.Models.Story

<h2>Chương</h2>

<ul>
    @foreach (var chapter in Model.Chapters)
    {
        <li class="d-flex">
            <a class="p-2 link-secondary text-decoration-none" href="@Url.Action("Read", "Home", new { storyId = Model.StoryID, chapterId = chapter.ChapterID })">@chapter.Title</a>
            @if (User.IsInRole("Admin"))
            {
                <span onclick="return confirm('Bạn có muốn xoá chương @chapter.Title')">
                    @Html.ActionLink("Xoá", "DeleteChapter", "Chapters", new { chapterId = chapter.ChapterID }, new { @class = "nav-link link-danger ml-auto p-2" })
                </span>
            }
        </li>
    }
</ul>



